# Build and Release Folders
node_modules/

# Dev files
npm-debug.log
.rpt2_cache/
.npmrc

# Project property files
.settings/
.idea/
.project
.DS_Store
*.iml
package-lock.json
yarn.lock

# Misc
deploy_key
deploy_key.pub